<div
  class="flex flex-col items-center space-y-6 md:space-y-12 max-w-5xl mx-auto pt-10 pb-8"
>
  <h1
    class="font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center text-white"
  >
    Roadmap
  </h1>
  <img src="assets/images/png/roadmap_image_1.png" class="animate-fadeIn" />

  <div class="sm:grid sm:grid-flow-col sm:gap-16">
    <div
      class="flex justify-center text-xl sm:justify-start sm:items-start sm:text-2xl"
    >
      <p class="text-slate-100">PHASE&nbsp;</p>
      <p style="color: #d79595">ONE</p>
    </div>
    <ul class="list-disc space-y-2 pt-4 sm:pt-0 text-slate-200 sm:col-span-2">
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li>In ut mauris sed est aliquam pharetra.</li>
      <li>Aenean condimentum libero nec enim tincidunt volutpat.</li>
      <li>Nunc in metus quis ex porta pellentesque.</li>
      <li>
        Donec lacinia augue vitae nunc finibus, vel elementum nulla semper.
      </li>
    </ul>
  </div>
  <div class="sm:grid sm:grid-flow-col sm:gap-16">
    <div
      class="flex justify-center text-xl sm:justify-start sm:items-start sm:text-2xl"
    >
      <p class="text-slate-100">PHASE&nbsp;</p>
      <p style="color: #d79595">TWO</p>
    </div>
    <ul class="list-disc space-y-2 pt-4 sm:pt-0 text-slate-200 sm:col-span-2">
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li>In ut mauris sed est aliquam pharetra.</li>
      <li>Aenean condimentum libero nec enim tincidunt volutpat.</li>
      <li>Nunc in metus quis ex porta pellentesque.</li>
      <li>
        Donec lacinia augue vitae nunc finibus, vel elementum nulla semper.
      </li>
    </ul>
  </div>
</div>
