<div
  class="flex flex-col items-center space-y-6 md:space-y-12 max-w-5xl mx-auto pb-8"
>
  <h1
    class="font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center text-white"
  >
    Roadmap
  </h1>
  <img src="assets/images/png/roadmap_image_1.png" class="animate-fadeIn" />

  <div class="md:mx-40 lg:mx-80">
    <p class="text-slate-100 text-2xl font-bold md:mb-2">
      Phase 1: 222 Big Women Unique
    </p>
    <ul class="list-disc space-y-2 pt-4 sm:pt-0 text-slate-200 sm:col-span-2">
      <li>Presale: 22 piece</li>
      <li>Discord lauch</li>
      <li>Build Website</li>
      <li>Public sale: 200 piece</li>
      <li>15% Charity support for poor children in Africa</li>
    </ul>
  </div>
  <div class="md:mx-40 lg:mx-80">
    <p class="text-slate-100 text-2xl font-bold md:mb-2">
      Phase 2: 2222 Big Women
    </p>
    <ul class="list-disc space-y-2 pt-4 sm:pt-0 text-slate-200 sm:col-span-2">
      <li>
        25% SOLD: 2.5% of sales will be used to support synergy in the NFT
        ecosystem to collect from emerging artists
      </li>
      <li>
        50% SOLD: Special airdrops & charity events in collaboration with both
        emerging & established artists in the NFT space
      </li>
      <li>
        75% SOLD: 10% Support to build schools for poor children in Africa
      </li>
      <li>
        100% SOLD: Big Women owners will contribute and appear in the next
        collection
      </li>
    </ul>
  </div>
</div>
