<div
  class="flex justify-between pb-8"
  *ngIf="currentBreakpoint === Breakpoints.Large; else mobileHeader"
>
  <div class="invisible">aaaaaaaaaaaaaaaaaaaa</div>
  <nav>
    <ul class="flex space-x-32">
      <li *ngFor="let tab of tabs">
        <a
          [routerLink]="tab.link"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          [ngClass]="{ tab_item: true, active: router.url === tab.link }"
          >{{ tab.tabName }}</a
        >
      </li>
    </ul>
  </nav>
  <div class="flex space-x-8">
    <a href="https://discord.gg/4kDskK7Fa5">
      <img src="assets/images/svg/icn_discord.png" alt="" class="icon" />
    </a>
    <a href="https://twitter.com/bigwomennft">
      <img src="assets/images/svg/icn_twitter.png" alt="" class="icon" />
    </a>
    <a href="https://opensea.io/collection/big-womens-nft">
      <img src="assets/images/svg/Opensea.svg" alt="" class="icon" />
    </a>
  </div>
</div>
<ng-template #mobileHeader>
  <div class="flex justify-end pb-8">
    <button (click)="openDialog()">
      <fa-icon [icon]="faBars" class="text-4xl"></fa-icon>
    </button>
  </div>
</ng-template>
