<div class="flex flex-col items-center space-y-6 max-w-5xl mx-auto pb-8">
  <h1
    class="font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center text-white"
  >
    Big Women Project
  </h1>
  <div class="text-center space-y-2 text-slate-200">
    <p>
      The MetaVixens collection is an exclusive NFT project created with love by
      Romanian illustrator theinkedmink(Ana). Each MetaVixen is one of a kind
      and hand drawn, inspired by various elements, some even by mythology or
      pop culture.
    </p>
    <p>
      Each one is completely unique, not just by appearance, but also by
      personality and passion points, which is a statement to the versatility
      and power of every woman. The project combines Ana’s love for character
      design with the desire to address woman empowerment and its importance
      throughout the metaverse.
    </p>
  </div>
  <div class="w-full z-10">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of slidesStore">
        <ng-template carouselSlide [id]="slide.id">
          <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" />
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <div class="w-full z-10">
    <owl-carousel-o [options]="customRevertOptions">
      <ng-container *ngFor="let slide of revertSlidesStore">
        <ng-template carouselSlide [id]="slide.id">
          <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" />
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
