<div>
  <div class="layout-home">
    <img src="assets/images/svg/home_image_1.png" class="animate-fadeIn" />
    <h1
      class="font-extrabold text-4xl sm:text-5xl lg:text-5xl tracking-tight text-center text-white font-josefinsans"
    >
      MISSION
    </h1>
    <div class="text-center space-y-2 text-slate-200">
      <p class="normal-text">
        “Every woman is gorgeous in her own way”. The collection celebrates
        women's various beauties, and significant achievements in all aspects of
        life. We also want to build our communities and support women, therefore
        some of our proceeds would be directed towards initiatives that support
        women and children in need. This collection also marks a call to action
        for supporting disadvantaged women, so some proceeds would directly
        fundraise for initiatives that support women and children in need.
      </p>
    </div>
    <h1
      class="font-extrabold text-4xl sm:text-5xl lg:text-5xl tracking-tight text-center text-white"
    >
      Available On Opensea
    </h1>
    <div class="text-center space-y-2 text-slate-200">
      <p class="normal-text">Check out Big Women on Opensea</p>
    </div>
    <button
      class="h-20 w-60 px-6 font-semibold rounded-md border border-slate-200 text-white hover:bg-opacity-10 transition duration-150 ease-in-out hover:scale-110"
      type="button"
      onClick="window.open('https://opensea.io/collection/big-womens-nft')"
    >
      OPENSEA
    </button>
  </div>
</div>
